
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Shahbaaz Sabharwal</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/examples/cover/cover.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">

    
  <style id="holderjs-style" type="text/css"></style><script type="text/javascript" src="chrome-extension://bfbmjmiodbnnpllbbbfblcplfjjepjdn/js/injected.js"></script><style type="text/css"></style></head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <!-- <h3 class="masthead-brand">Shahbaaz Sabharwal</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Education</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Ping</a></li> -->
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">I am Shahbaaz Sabharwal</h1>
            <p class="lead"> A final year <a href ="https://github.com/shahbaazsabharwal"> computer scientist </a> studying at Nanyang Technological University. I do <a href="http://www.linkedin.com/pub/shahbaaz-sabharwal/25/b75/7a8">fun stuff</a>. I let my <a href="https://twitter.com/TheRealSDSS">blue bird chirp a lot.</a> <a href="http://www.tottenhamhotspur.com/">Tottenham Hotspur</a> was my first love. I <a href="http://therealsdss.svbtle.com/">write</a> occasionally. I <a href="http://instagram.com/sabharwalshahbaaz">chronicle</a> my days and nights.</p>
            <p class="lead">
              <!-- <a href="#" class="btn btn-lg btn-default">Learn more</a> -->
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
             <p> Call me TheRealSDSS</p>
            </div>
          </div>

        </div>

      </div>

    </div>

 

</body></html>

